
.container{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
    padding: 10 px;

}
.weather-app{
    border: 0.5px solid;
    border-color: #6D8B74;
    border-radius: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 700;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    
}
h1{
    color: #6D8B74;
    display: block;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 15px;
    padding: auto;
    text-align: center;
}
.date{
    text-align: center;
    color: #6D8B74;
    font-size: 18px;
}
.temperature {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}
.units
{
    position: relative;
    font-size: 18px;
    top: -32px;
}
.unit-link{
    color: black;
    cursor: default;
    text-decoration: none;
}
.unit-link:hover{
    text-decoration: none;
}
.left-panel {
    position: relative;
    left: -10px;
    font-style: italic;
    color: #6D8B74;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-align: left;
}
.right-panel{
    position: relative;
    left: -40px;
    top: -40px;
    text-align: right;
    font-style: italic;
    color: #6D8B74;
}
.main-icon {
    font-size: 80px;
}
.row{
    color: black;
}
.col{
    text-align: center;
    font-style: italic;
}
/* .days{
    color:#6D8B74;
    font-size: 20px;
}
.icons{
    color: #5F7161;
font-size: 30px;
} */
.github-link
{
display: block;
text-align: center;
color:#5F7161;
}