
.container{
    font-family: 'Familjen Grotesk', sans-serif;
    margin: 30px auto;
    padding: 10 px;

}
.weather-app{
    border: 0.5px solid;
    border-color: #6D8B74;
    border-radius: 10px;
    font-weight: 700;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    
}
.city {
    color: #242F9B;
    display: block;
    font-size: 42px;
    font-weight: 100;
    line-height: 28px;
    margin: 15px;
    padding: auto;
    text-align: center;
}
.date{
    text-align: center;
    color: #9BA3EB;
    font-style: italic;
    font-size: 20px;
}
.temp-degree{
    text-align: center;
}
.temperature {
    color: #242F9B;
    font-size: 54px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    display: block;
}
.units
{
    color: #242F9B;
    display: block;
    position: relative;
    font-size: 18px;
    text-align: center;
    top: -48px;
    right: -48px;
}
.unit-link{
    color: #242F9B;
    cursor: default;
    text-decoration: none;
}
.unit-link:hover{
    color: #0d6efd;
    text-decoration: none;
}
.left-panel {
    position: relative;
    left: -10px;
    font-style: italic;
    font-size: 20px;
    color: #9BA3EB;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-align: left;
}
.main-icon {
    font-size: 20px;
}
.row{
    color: black;
}
.col{
    text-align: center;
    font-style: italic;
}
/* .days{
    color:#6D8B74;
    font-size: 20px;
}
.icons{
    color: #5F7161;
font-size: 30px;
} */
.github-link
{
    color: #0d6efd;
    display: block;
text-align: center;

}